
/* 登入畫面配置 */

body{
	background:lightgray;
	color:black;
	font:14px "Lucida Grande","Arial","Helvetica","Verdana","sans-serif";
	text-align:center;
}

#content_div{
	background:#C9D392;
	border:thin solid black;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width:400px;
	z-index:1000;
}

.msg_span{
	font-size:10px; 
	color:red;
}

.btn_input{
	background:none repeat scroll 0 0 transparent;
	border:thick outset #C9D392;
	border-radius:15px 15px 15px 15px;
	padding:10px;
	vertical-align:middle;
	width:50%;
	font-weight:bold;
	box-shadow:3px 3px 4px;
}

.btn_input:hover{
	background:none repeat scroll 0 0 transparent;
	border:thick inset #C9D392;
	border-radius:15px 15px 15px 15px;
	padding:10px;
	vertical-align:middle;
	width:50%;
	box-shadow:3px 3px 4px inset;	
}
